<%- include("includes/header") %>
<link rel="stylesheet" href="/css/menu.css" />
<body>
  <div class="main_container">
    <div class="group_name">
      <ul class="nav justify-content-center" style="justify-content: center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/resto">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/resto/all-restaurants">AllResto</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/resto/logout">Logout</a>
        </li>
      </ul>
    </div>
    <div class="restaurant_menu_frame">
      <div class="restaurant_container">
        <div class="resto_table">
          <span class="new_dish_txt">Barcha Oshhonalar Ro'yhati</span>

          <table class="table table-striped" style="border-radius: 15px;">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">T/r</th>
                <th scope="col">Oshhona nomi</th>
                <th scope="col">Oshhona telefon raqami</th>
                <th scope="col">Oshhona TOP</th>
                <th scope="col">Oshhona Holati</th>
              </tr>
            </thead>
            <% restaurants_data.map(function(value, key) {%>
            <tbody style="background: white">
              <td><%= key + 1 %></td>
              <td><%= value.mb_nick %></td>
              <td><%= value.mb_phone %></td>
              <td style="width: 13%">
                <label class="switch">
                  <input type="checkbox" class="mb_top" id="<%=value._id%>" <%=
                  value.mb_top==="Y" ? "checked" : "" %> />
                  <span class="slider round"></span>
                </label>
              </td>
              <td style="width: 13%">
                <select class="spec_select mb_status" id="<%=value._id%>">
                  <option value="ONPAUSE" <%= value.mb_status === 'ONPAUSE' ? 'selected' : '' %> >ONPAUSE </option>
                  <option value="ACTIVE" <%= value.mb_status === 'ACTIVE' ? 'selected' : '' %> >ACTIVE </option>
                  <option value="DELETED" <%= value.mb_status === 'DELETED' ? 'selected' : '' %> >DELETED </option>
                                  </select>
              </td>
            </tbody>
            <% }); %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(function () {

      //manipulate restaurants top features
      $(".mb_top").on("change", function (e) {
        const id = e.target.id;
        const mb_top = e.target.checked ? "Y" : "N";

          axios
          .post("/resto/all-restaurants/edit", { id: id, mb_top: mb_top })
          .then((response) => {
            const result = response.data;
            if (result.state === "success") alert("successfully updated");
            else alert(result.message);
          });
      });
 //manipulate restaurants status features
 $(".mb_status").on("change", function (e) {
        const id = e.target.id;
        const mb_status = $(`#${id}.mb_status`).val()
        console.log("mb_status: ", mb_status )
        const mb_top = e.target.checked ? "Y" : "N";

        axios
          .post("/resto/all-restaurants/edit", { id: id, mb_status: mb_status })
          .then((response) => {
            const result = response.data;
            if (result.state === "success") alert("successfully updated");
            else alert(result.message);
          }).catch(err=>{console.log(err)}) ;
      });

    });
  </script>
</body>

<%- include("includes/footer") %>
