<%- include("includes/header") %>
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<body>
  <div id="main_container">
    <div class="group_name">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/resto">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/resto/products/menu">MyBrand</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/resto/logout">Logout</a>
        </li>
      </ul>
    </div>
    <div class="restaurant_menu_frame">
      <div class="restaurant_container">
        <div class="dishs_table">
          <span class="new_dish_txt">
            <%= member.mb_nick%> Products 
          </span>
          <table class="table table-bordered table-hover" style="align-items: center;">
            <thead class="thead-light" style="font-size: 13px; text-align: center;  align-items: center;" >
              <th scope="col">N#</th>
              <th scope="col">Product name</th>
              <th scope="col">Product size</th>
              <th scope="col">Product color</th>
              <th scope="col">Product price</th>
              <th scope="col">Product type</th>
              <th scope="col">Product collection</th>
              <th scope="col">Product stock</th>
              <th scope="col">Product status</th>
              <th scope="col">Discount type</th>
              <th scope="col">Discount value</th>
              <th scope="col">Discount startDate</th>
              <th scope="col">Discount endDate</th>
            </thead>

            <% restaurant_data.map((value, key)=> { %>
            <tbody style="background: white; font-size: 12px; text-justify: auto; text-align: center;">
              <td><%= key + 1 %></td>
              <td><%= value.product_name %></td>
              <td><%= value.product_size %></td>
              <td><%= value.product_color %></td>
              <td><%= value.product_price %></td>
              <td><%= value.product_type %></tde=>
              <td><%= value.product_collection %></td>
              <td><%= value.product_left_cnt %></td>
              <td>
                <select class="spec_select new_product_status" id="<%= value._id %>">
                  <option value="PROCESS" <%= value.product_status === 'PROCESS' ? 'selected' : '' %>> Process</option>
                  <option value="PAUSED" <%= value.product_status ==='PAUSED' ? 'selected' : '' %>> Paused</option>
                </select>
              </td>
              <td>
                <select class="spec_select discount_type" id="<%= value._id %>" style="width: 110px;">
                  <option value="percentage" <%= value.discount.type === 'percentage' ? 'selected' : '' %> >Percentage</option>
                  <option value="amount" <%= value.discount.type ==='amount' ? 'selected' : '' %> >Amount</option>
                </select>
              </td> 
              <td>
                <input class="spec_select discount_value" id="<%= value._id %>" placeholder="<%= value.discount.value %>" type="number" style="width: 60px;"/>
              </td>
              <td>
                <input class="spec_select discount_startDate" id="<%= value._id %>" value="<%= value.discount.startDate ? value.discount.startDate.toISOString().split('T')[0] : '' %>" type="date" style="width: 120px;" />
              </td>
              
              <td>
                <input class="spec_select discount_endDate" id="<%= value._id %>" value="<%= value.discount.endDate ? value.discount.endDate.toISOString().split('T')[0] : '' %>" type="date" style="width: 120px;" />
              </td>
            </tbody>
            <% });%>
          </table>

          <div
            class="long_input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button class="btn btn-primary hiding_btn">Add product</button>
          </div>
        </div>
        <form
          onsubmit="return validateForm()"
          action="/resto/products/create"
          method="POST"
          class="dish_container"
          enctype="multipart/form-data"
        >
          <div class="long_input" style="display: flex; align-items: center">
            <span class="new_dish_txt">New Product</span>
          </div>
          <div>
            <div class="long_input">
              <label>Product name</label>
              <input
                type="text"
                name="product_name"
                class="product_name"
                placeholder="Product name"
              />
            </div>
            <input
              name="product_status"
              value="PAUSED"
              class="product_status"
              hidden
            />
          </div>

          <div class="half_input_frame">
            <div class="half_input" id="product_price">
              <label>Product price</label
              ><input
                type="number"
                placeholder="Product price"
                name="product_price"
                class="product_price"
              />
            </div>
            <div class="half_input" id="product_left_cnt">
              <label>Product stock</label
              ><input
                type="number"
                placeholder="Product stock"
                name="product_left_cnt"
                class="product_left_cnt"
              />
            </div>
          </div>
          <div class="half_input_frame">
            <div class="half_input" id="discount_type">
              <label>Discount Type</label>
              <select name="discount[type]" class="discount_type">
                <option value="percentage">Percentage</option>
                <option value="amount">Amount</option>
              </select>
            </div>
            <div class="half_input" id="discount_value">
              <label>Discount Value</label>
              <input
                type="number"
                placeholder="Discount value"
                name="discount[value]"
                class="discount_value"
                min="0"
              />
            </div>
          </div>

          <div class="half_input_frame">
            <div class="half_input" id="discount_start_date">
              <label>Start Date</label>
              <input
                type="date"
                placeholder="Start date"
                name="discount[startDate]"
                class="discount_start_date"
              />
            </div>
            <div class="half_input" id="discount_end_date">
              <label>End Date</label>
              <input
                type="date"
                placeholder="End date"
                name="discount[endDate]"
                class="discount_end_date"
              />
            </div>
          </div>

          <div>
            <div class="half_input_frame">
              <div class="half_input" id="product_collection">
                <label>Product collection</label>
                <select name="product_collection" class="product_collection">
                  <option value="formal" selected>Formal</option>
                  <option value="running" selected>Running</option>
                  <option value="training" selected>Training</option>
                  <option value="sports" selected>Sports</option>
                </select>
              </div>
              <div class="half_input" id="product_size">
                <label>Product size</label>
                <select name="product_size" class="product_size">
                  <option value="all">all</option>
                  <option value="270" selected>270</option>
                  <option value="275" selected>275</option>
                  <option value="280" selected>280</option>
                  <option value="285" selected>285</option>
                </select>
              </div>
            </div>
            <div class="half_input_frame">
              <div class="half_input" id="product_color">
                <label>Product color</label>
                <select name="product_color" class="product_color">
                  <option value="white" selected>white</option>
                  <option value="black">black</option>
                  <option value="red">red</option>
                  <option value="green">green</option>
                  <option value="blue">blue</option>
                </select>
              </div>
              <div class="half_input" id="product_type">
                <label>Product type</label>
                <select name="product_type" class="product_type">
                  <option value="men">men</option>
                  <option value="women" selected>women</option>
                </select>
              </div>
            </div>
          </div>
          <div class="long_input">
            <label>Product description</label>
            <textarea
              name="product_description"
              class="product_description"
            ></textarea>
          </div>

          <div class="img_frame">
            <label>Product pictures </label>
            <div class="media-frame">
              <div class="upload_img_box">
                <img src="/images/upload.svg" class="1" id="image_section_1" />
                <input
                  type="file"
                  name="product_images"
                  id="file"
                  class="image_one"
                  onchange="previewFileHandler(this,1)"
                />
              </div>
              <div class="upload_img_box">
                <img src="/images/upload.svg" class="2" id="image_section_2" />
                <input
                  type="file"
                  name="product_images"
                  id="file"
                  class="image_two"
                  onchange="previewFileHandler(this,2)"
                />
              </div>
              <div class="upload_img_box">
                <img src="/images/upload.svg" class="3" id="image_section_3" />
                <input
                  type="file"
                  name="product_images"
                  id="file"
                  class="image_three"
                  onchange="previewFileHandler(this,3)"
                />
              </div>
              <div class="upload_img_box">
                <img src="/images/upload.svg" class="4" id="image_section_4" />
                <input
                  type="file"
                  name="product_images"
                  id="file"
                  class="image_four"
                  onchange="previewFileHandler(this,4)"
                />
              </div>
              <div class="upload_img_box">
                <img src="/images/upload.svg" class="5" id="image_section_5" />
                <input
                  type="file"
                  name="product_images"
                  id="file"
                  class="image_five"
                  onchange="previewFileHandler(this,5)"
                />
              </div>
              <!-- <input
                value="<%= member._id%>"
                name="restaurant_id"
                class="restaurant_id"
              /> -->
            </div>
          </div>
          <div
            class="long_input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button type="submit" class="btn btn-primary" id="create_product">
              Chop etish
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $(function () {
      $(".product_collection").on("change", () => {
        const selected_value = $(".product_collection").val();
        if (selected_value === "drink") {
          $("#product_volume").show();
          $("#product_size").hide();
        } else {
          $("#product_volume").hide();
          $("#product_size").show();
        }
      });

      $(".hiding_btn").on("click", () => {
        $(".dish_container").slideToggle(500);
        $(".hiding_btn").css("display", "none");
      });
    });
    // product status changer
    $(".new_product_status").on("change", async function (e) {
      const id = e.target.id;
      const product_status = $(`#${id}.new_product_status`).val();

      try {
        const response = await axios.post(`/resto/products/edit/${id}`, {
          id: id,
          product_status: product_status,
        });
        const result = response.data;
        console.log("result:", result);

        if (result.state == "success") {
          alert("success");
          location.reload();
        } else {
          alert(result.message);
        }
      } catch (err) {
        console.log("updateChosenProduct err:", err);
      }
    });

    $(".discount_type").on("change", async function (e) {
      const id = e.target.id;
      const discount_type = $(`#${id}.discount_type`).val();

      try {
        const response = await axios.post(`/resto/products/edit/${id}`, {
          id: id,
          "discount.type": discount_type,
        });
        const result = response.data;
        console.log("result:", result);

        if (result.state == "success") {
          alert("success");
          location.reload();
        } else {
          alert(result.message);
        }
      } catch (err) {
        console.log("updateChosenProduct err:", err);
      }
    });

    $(".discount_value").on("change", async function (e) {
      const id = e.target.id;
      const discount_value = $(`#${id}.discount_value`).val();

      try {
        const response = await axios.post(`/resto/products/edit/${id}`, {
          id: id,
          "discount.value": discount_value,
        });
        const result = response.data;
        console.log("result:", result);

        if (result.state == "success") {
          alert("success");
          location.reload();
        } else {
          alert(result.message);
        }
      } catch (err) {
        console.log("updateChosenProduct err:", err);
      }
    });

    $(".discount_startDate").on("change", async function (e) {
      const id = e.target.id;
      const discount_startDate = $(`#${id}.discount_startDate`).val();

      try {
        const response = await axios.post(`/resto/products/edit/${id}`, {
          id: id,
          "discount.startDate": discount_startDate,
        });
        const result = response.data;
        console.log("result:", result);

        if (result.state == "success") {
          alert("success");
          location.reload();
        } else {
          alert(result.message);
        }
      } catch (err) {
        console.log("updateChosenProduct err:", err);
      }
    });


    $(".discount_endDate").on("change", async function (e) {
      const id = e.target.id;
      const discount_endDate = $(`#${id}.discount_endDate`).val();

      try {
        const response = await axios.post(`/resto/products/edit/${id}`, {
          id: id,
          "discount.endDate": discount_endDate,
        });
        const result = response.data;
        console.log("result:", result);

        if (result.state == "success") {
          alert("success");
          location.reload();
        } else {
          alert(result.message);
        }
      } catch (err) {
        console.log("updateChosenProduct err:", err);
      }
    });

    function validateForm() {
      const restaurant_mb_id = $(".restaurant_mb_id").val();
      const product_name = $(".product_name").val();
      const product_price = $(".product_price").val();
      const product_left_cnt = $(".product_left_cnt").val();
      const product_collection = $(".product_collection").val();
      const product_description = $(".product_description").val();
      const product_status = $(".product_status").val();

      if (
        restaurant_mb_id == "" ||
        product_name == "" ||
        product_description == "" ||
        product_status == "" ||
        product_collection == "" ||
        product_left_cnt == "" ||
        product_price == ""
      ) {
        alert(`Iltimos hamma ma'lumotlarni kiriting!`);
        return false;
      } else return true;
    }

    function previewFileHandler(input, order) {
      const image_class_name = input.className;
      const file = $(`.${image_class_name}`).get(0).files[0];
      const fileType = file["type"];
      const validImageTypes = ["image/jpg", "image/jpeg", "image/png"];

      if (!validImageTypes.includes(fileType)) {
        alert(
          "Iltimos ruhsat etilgan formatdagi rasmlarni yuklang! (jpg, jpeg,png"
        );
      } else {
        if (file) {
          let reader = new FileReader();
          reader.onload = function () {
            $(`#image_section_${order}`).attr("src", reader.result);
          };
          reader.readAsDataURL(file);
        }
      }
    }
  </script>
</body>

<%- include("includes/footer") %>
